<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="no-js ie6"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8"><![endif]-->
<!--[if IE 9 ]><html class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1">
    
      
        <title>Dropdown - Ingot Documentation</title>
      
      
      
        <link rel="canonical" href="https://memorypenguin.github.io/RbxIngot/components/dropdown/">
      
      
        <meta name="author" content="MemoryPenguin">
      
    
    <meta property="og:url" content="https://memorypenguin.github.io/RbxIngot/components/dropdown/">
    <meta property="og:title" content="Ingot Documentation">
    <meta property="og:image" content="https://memorypenguin.github.io/RbxIngot/components/dropdown//../../">
    <meta name="apple-mobile-web-app-title" content="Ingot Documentation">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    
    <link rel="shortcut icon" type="image/x-icon" href="../../None">
    <link rel="icon" type="image/x-icon" href="../../None">
    <style>
      @font-face {
      	font-family: 'Icon';
      	src: url('../../assets/fonts/icon.eot?52m981');
      	src: url('../../assets/fonts/icon.eot?#iefix52m981')
               format('embedded-opentype'),
      		   url('../../assets/fonts/icon.woff?52m981')
               format('woff'),
      		   url('../../assets/fonts/icon.ttf?52m981')
               format('truetype'),
      		   url('../../assets/fonts/icon.svg?52m981#icon')
               format('svg');
      	font-weight: normal;
      	font-style: normal;
      }
    </style>
    <link rel="stylesheet" href="../../assets/stylesheets/application-54f87043f3.css">
    
      <link rel="stylesheet" href="../../assets/stylesheets/palettes-05ab2406df.css">
    
    
      
      
      
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Mono">
      <style>
        body, input {
          font-family: 'Roboto', Helvetica, Arial, sans-serif;
        }
        pre, code {
          font-family: 'Roboto Mono', 'Courier New', 'Courier', monospace;
        }
      </style>
    
    
    <script src="../../assets/javascripts/modernizr-4ab42b99fd.js"></script>
    
  </head>
  
  
  
  <body class="palette-primary-blue-grey palette-accent-purple">
    
      
      
    
    <div class="backdrop">
      <div class="backdrop-paper"></div>
    </div>
    <input class="toggle" type="checkbox" id="toggle-drawer">
    <input class="toggle" type="checkbox" id="toggle-search">
    <label class="toggle-button overlay" for="toggle-drawer"></label>
    <header class="header">
      <nav aria-label="Header">
  <div class="bar default">
    <div class="button button-menu" role="button" aria-label="Menu">
      <label class="toggle-button icon icon-menu" for="toggle-drawer">
        <span></span>
      </label>
    </div>
    <div class="stretch">
      <div class="title">
        
          <span class="path">
            
              
                Components <i class="icon icon-link"></i>
              
            
          </span>
        
        Dropdown
      </div>
    </div>
    
      
      <div class="button button-twitter" role="button" aria-label="Twitter">
        <a href="https://twitter.com/MemoryPenguin" title="@MemoryPenguin on Twitter" target="_blank" class="toggle-button icon icon-twitter"></a>
      </div>
    
    
      
      <div class="button button-github" role="button" aria-label="GitHub">
        <a href="https://github.com/MemoryPenguin" title="@MemoryPenguin on GitHub" target="_blank" class="toggle-button icon icon-github"></a>
      </div>
    
    <div class="button button-search" role="button" aria-label="Search">
      <label class="toggle-button icon icon-search" title="Search" for="toggle-search"></label>
    </div>
  </div>
  <div class="bar search">
    <div class="button button-close" role="button" aria-label="Close">
      <label class="toggle-button icon icon-back" for="toggle-search"></label>
    </div>
    <div class="stretch">
      <div class="field">
        <input class="query" type="text" placeholder="Search" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck>
      </div>
    </div>
    <div class="button button-reset" role="button" aria-label="Search">
      <button class="toggle-button icon icon-close" id="reset-search"></button>
    </div>
  </div>
</nav>
    </header>
    <main class="main">
      
      <div class="drawer">
        <nav aria-label="Navigation">
  
  <a href="https://github.com/MemoryPenguin/RbxIngot" class="project">
    <div class="banner">
      
      <div class="name">
        <strong>
          Ingot Documentation
          <span class="version">
            0.1.0
          </span>
        </strong>
        
          <br>
          MemoryPenguin/RbxIngot
        
      </div>
    </div>
  </a>
  <div class="scrollable">
    <div class="wrapper">
      
        <ul class="repo">
          <li class="repo-download">
            
            <a href="https://github.com/MemoryPenguin/RbxIngot/archive/0.1.0.zip" target="_blank" title="Download" data-action="download">
              <i class="icon icon-download"></i> Download
            </a>
          </li>
          <li class="repo-stars">
            <a href="https://github.com/MemoryPenguin/RbxIngot/stargazers" target="_blank" title="Stargazers" data-action="star">
              <i class="icon icon-star"></i> Stars
              <span class="count">&ndash;</span>
            </a>
          </li>
        </ul>
        <hr>
      
      <div class="toc">
        <ul>
          
            
  <li>
    <a class="" title="Home" href="../..">
      Home
    </a>
    
  </li>

          
            
  <li>
    <a class="" title="Using Components" href="../../using/">
      Using Components
    </a>
    
  </li>

          
            
  <li>
    <span class="section">Components</span>
    <ul>
      
        
  <li>
    <a class="current" title="Dropdown" href="./">
      Dropdown
    </a>
    
      
        
      
      
        <ul>
          
            <li class="anchor">
              <a title="Properties" href="#properties">
                Properties
              </a>
            </li>
          
            <li class="anchor">
              <a title="Methods" href="#methods">
                Methods
              </a>
            </li>
          
            <li class="anchor">
              <a title="Example" href="#example">
                Example
              </a>
            </li>
          
        </ul>
      
    
  </li>

      
    </ul>
  </li>

          
            
  <li>
    <span class="section">Support Modules</span>
    <ul>
      
        
  <li>
    <a class="" title="UDim4" href="../../support/udim4/">
      UDim4
    </a>
    
  </li>

      
        
  <li>
    <a class="" title="UDim4Enforcer" href="../../support/udim4enforcer/">
      UDim4Enforcer
    </a>
    
  </li>

      
    </ul>
  </li>

          
            
  <li>
    <a class="" title="Making Components" href="../../making/">
      Making Components
    </a>
    
  </li>

          
        </ul>
        
          <hr>
          <span class="section">The author</span>
          <ul>
            
              
              <li>
                <a href="https://twitter.com/MemoryPenguin" target="_blank" title="@MemoryPenguin on Twitter">
                  @MemoryPenguin on Twitter
                </a>
              </li>
            
            
              
              <li>
                <a href="https://github.com/MemoryPenguin" target="_blank" title="@MemoryPenguin on GitHub">
                  @MemoryPenguin on GitHub
                </a>
              </li>
            
          </ul>
        
      </div>
    </div>
  </div>
</nav>
      </div>
      <article class="article">
        <div class="wrapper">
          
          <h1 id="dropdown-component">Dropdown Component<a class="headerlink" href="#dropdown-component" title="Permanent link">#</a></h1>
<p>The Dropdown component is a simple dropdown that supports selection of one item from a large amount of choices.
<img alt="Dropdown image" src="../../images/dropdown-1.png" /></p>
<p><img alt="Dropdown structure" src="../../images/dropdown-2.png" /></p>
<h2 id="properties">Properties<a class="headerlink" href="#properties" title="Permanent link">#</a></h2>
<p><em>Dropdown supports all GuiObject properties, For brevity, they have not been listed here.</em></p>
<h3 id="number-animationtime"><a href="http://wiki.roblox.com/index.php?title=Number">number</a> AnimationTime<a class="headerlink" href="#number-animationtime" title="Permanent link">#</a></h3>
<p>How long the dropdown's opening animation will take. If zero, no animation takes place. Defaults to <code>0.3</code>.</p>
<h3 id="boolean-closeonoptionselected"><a href="http://wiki.roblox.com/index.php?title=API:Boolean">boolean</a> CloseOnOptionSelected<a class="headerlink" href="#boolean-closeonoptionselected" title="Permanent link">#</a></h3>
<p>Whether to close the dropdown when an option is selected. Defaults to <code>true</code>.</p>
<h3 id="string-currententry"><a href="http://wiki.roblox.com/index.php?title=API:String">string</a> CurrentEntry<a class="headerlink" href="#string-currententry" title="Permanent link">#</a></h3>
<p>The currently selected item, or nil if it does not exist. Setting this will select the item corresponding to the string, or error if it does not exist. Defaults to <code>nil</code>.</p>
<h3 id="arraystring-entries"><a href="http://wiki.roblox.com/index.php?title=API:Table">array&lt;string&gt;</a> Entries<a class="headerlink" href="#arraystring-entries" title="Permanent link">#</a></h3>
<p>The entries of the dropdown. Setting this value will remove all entries from the dropdown, then add all the entries in the assigned value.</p>
<div class="admonition note">
<p class="admonition-title">Note</p>
<p>Modifying this value via <code>table.insert</code> will not add or remove entries from the dropdown. To modify entries, use <a href="#AddEntry">AddEntry</a> and <a href="#RemoveEntry">RemoveEntry</a>.</p>
</div>
<h3 id="font-font"><a href="http://wiki.roblox.com/index.php?title=API:Enum/Font">Font</a> Font<a class="headerlink" href="#font-font" title="Permanent link">#</a></h3>
<p>The font the dropdown uses. Defaults to <code>SourceSans</code>.</p>
<h3 id="fontsize-fontsize"><a href="http://wiki.roblox.com/index.php?title=API:Enum/FontSize">FontSize</a> FontSize<a class="headerlink" href="#fontsize-fontsize" title="Permanent link">#</a></h3>
<p>The size of the dropdown's text. This value is used directly for the size of the dropdown's current item text, and the value immediately below it is used as the item entry font size. For example, if this property is set to <code>Size24</code>, the current item text will have a font size of <code>Size24</code> and the item entries will have a font size of <code>Size18</code>. Defaults to <code>Size24</code>.</p>
<h3 id="boolean-open"><a href="http://wiki.roblox.com/index.php?title=API:Boolean">boolean</a> Open<a class="headerlink" href="#boolean-open" title="Permanent link">#</a></h3>
<p>Whether the dropdown is open or not. Defaults to <code>false</code>.</p>
<h3 id="font-selectedentryfont"><a href="http://wiki.roblox.com/index.php?title=API:Enum/Font">Font</a> SelectedEntryFont<a class="headerlink" href="#font-selectedentryfont" title="Permanent link">#</a></h3>
<p>The font that the dropdown's selected entry uses. Defaults to <code>SourceSansBold</code>. If this is the same as <a href="#Font">Font</a>, there will be no visual difference between a selected entry and an unselected one.</p>
<h3 id="number-shownitems"><a href="http://wiki.roblox.com/index.php?title=Number">number</a> ShownItems<a class="headerlink" href="#number-shownitems" title="Permanent link">#</a></h3>
<p>How many options, at most, should be shown at once when the dropdown is open. Excess options will be wrapped in a scrolling frame. Defaults to <code>3</code>.</p>
<h2 id="methods">Methods<a class="headerlink" href="#methods" title="Permanent link">#</a></h2>
<h3 id="textbutton-getentrybuttonstring-entryname"><a href="http://wiki.roblox.com/index.php?title=API:Class/TextButton">TextButton</a> GetEntryButton(<a href="http://wiki.roblox.com/index.php?title=API:String">string</a> entryName)<a class="headerlink" href="#textbutton-getentrybuttonstring-entryname" title="Permanent link">#</a></h3>
<p>Returns the TextButton that corresponds to <code>entryName</code>, or nil if one does not exist.</p>
<h3 id="boolean-addentrystring-entryname"><a href="http://wiki.roblox.com/index.php?title=API:Boolean">boolean</a> AddEntry(<a href="http://wiki.roblox.com/index.php?title=API:String">string</a> entryName)<a class="headerlink" href="#boolean-addentrystring-entryname" title="Permanent link">#</a></h3>
<p>Adds an entry to the dropdown. Returns <code>true</code> on success and <code>false</code> if the dropdown already has an entry named <code>entryName</code>.</p>
<h3 id="boolean-removeentrystring-entryname"><a href="http://wiki.roblox.com/index.php?title=API:Boolean">boolean</a> RemoveEntry(<a href="http://wiki.roblox.com/index.php?title=API:String">string</a> entryName)<a class="headerlink" href="#boolean-removeentrystring-entryname" title="Permanent link">#</a></h3>
<p>Removes an entry from the dropdown. Returns <code>true</code> on success and <code>false</code> if the dropdown doesn't have an entry named <code>entryName</code>.</p>
<h3 id="boolean-hasentrystring-entryname"><a href="http://wiki.roblox.com/index.php?title=API:Boolean">boolean</a> HasEntry(<a href="http://wiki.roblox.com/index.php?title=API:String">string</a> entryName)<a class="headerlink" href="#boolean-hasentrystring-entryname" title="Permanent link">#</a></h3>
<p>Returns whether an entry named <code>entryName</code> is within the dropdown.</p>
<div class="admonition note">
<p class="admonition-title">Note</p>
<p>This is faster than iterating over <a href="#arraystring-entries">Entries</a> when the only goal is to check whether the dropdown contains an entry.</p>
</div>
<h3 id="void-addentriesarraystring-entrynames"><a href="http://wiki.roblox.com/index.php?title=API:Nil">void</a> AddEntries(<a href="http://wiki.roblox.com/index.php?title=API:Table">array&lt;string&gt;</a> entryNames)<a class="headerlink" href="#void-addentriesarraystring-entrynames" title="Permanent link">#</a></h3>
<p>Adds all the entries within <code>entryNames</code> to the dropdown. This does not return a success/failure boolean; additions will fail silently.</p>
<h2 id="example">Example<a class="headerlink" href="#example" title="Permanent link">#</a></h2>
<p>This example assumes that the Dropdown module has been already loaded and stored in the <code>Dropdown</code> variable.</p>
<pre class="code"><code class="language-lua">local drop = Dropdown.new(script.Parent)

for i = 1, 10 do
    drop:AddEntry(&quot;Item &quot;..i)
end</code></pre>
          <aside class="copyright" role="note">
            
            Documentation built with
            <a href="http://www.mkdocs.org" target="_blank">MkDocs</a>
            using the
            <a href="http://squidfunk.github.io/mkdocs-material/" target="_blank">
              Material
            </a>
            theme.
          </aside>
          
            <footer class="footer">
              
  <nav class="pagination" aria-label="Footer">
    <div class="previous">
      
        <a href="../../using/" title="Using Components">
          <span class="direction">
            Previous
          </span>
          <div class="page">
            <div class="button button-previous" role="button" aria-label="Previous">
              <i class="icon icon-back"></i>
            </div>
            <div class="stretch">
              <div class="title">
                Using Components
              </div>
            </div>
          </div>
        </a>
      
    </div>
    <div class="next">
      
        <a href="../../support/udim4/" title="UDim4">
          <span class="direction">
            Next
          </span>
          <div class="page">
            <div class="stretch">
              <div class="title">
                UDim4
              </div>
            </div>
            <div class="button button-next" role="button" aria-label="Next">
              <i class="icon icon-forward"></i>
            </div>
          </div>
        </a>
      
    </div>
  </nav>

            </footer>
          
        </div>
      </article>
      <div class="results" role="status" aria-live="polite">
        <div class="scrollable">
          <div class="wrapper">
            <div class="meta"></div>
            <div class="list"></div>
          </div>
        </div>
      </div>
    </main>
    <script>
      var base_url = '../..';
      var repo_id  = 'MemoryPenguin/RbxIngot';
    </script>
    <script src="../../assets/javascripts/application-997097ee0c.js"></script>
    
    
  </body>
</html>